.cover__link {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/cover-trains.jpg);
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cover__link:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../../images/cover-trains.jpg);
}

@media all and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media all and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media all and (max-width: 495px) {
  .cover__link {
    min-height: 340px;
  }
}

@media all and (max-width: 380px) {
  .cover__link {
    min-height: 200px;
  }
}