.footer__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  column-gap: 18px;
}

@media all and (max-width: 720px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}