.place__paragraph { 
  margin: 0 0 26px;
  max-width: 484px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  text-align: left;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media all and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    margin-bottom: 25px;
  }
}

/* 320 */
@media all and (max-width: 630px) {
  .place__paragraph {
    max-width: calc(100% - 2*16px);
    padding-left: 16px;
  }
  .place__paragraph:first-child {
    margin-top: 32px;
  }
}