.place__website {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-self: flex-end;
  justify-self: start;
}

/* 320  */
@media all and (max-width: 630px) {
  .place__website {
    margin: 32px auto 32px;
    width: calc(100% - 2*16px);
  }
}